<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909608338008-27fcmj8t3fvtta7uo2of2akisa6salsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909608338008-27fcmj8t3fvtta7uo2of2akisa6salsj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909608338008-5u6mm6rulmmu19o8kqv3sl2bu0ah8isa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzXNKO3aRyBgRDzji7p9nbY-jaXGZNdOg</string>
	<key>GCM_SENDER_ID</key>
	<string>909608338008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opetstudio.xproperty</string>
	<key>PROJECT_ID</key>
	<string>temporal-storm-487</string>
	<key>STORAGE_BUCKET</key>
	<string>temporal-storm-487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909608338008:ios:34221ac67ae5a8395a402d</string>
	<key>DATABASE_URL</key>
	<string>https://temporal-storm-487.firebaseio.com</string>
</dict>
</plist>